* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    }    

table {
    margin: 15px;
    border-collapse: collapse;
    width: 750px;
    height: 400px;
}

td, th, table {
    border: 1px black solid;
}

h1 {
    text-align: left;
    color: greenyellow;
}

td, th {
    width: 25%;
    margin: 5px;
    text-align: left;
} 

img {
    height: 250px;
}